.submit__button {
    padding: 16px 0px;
    cursor: pointer;
    width: 100%;
    background: #0073E6;
    border: none;
    text-align: center;
    font-weight: 700;
    color: #ffffffff;
    font-size: 16px;
    border-radius: 12px;
}