.header {
    padding: 12px 32px;
    border-bottom: 1px solid #E6F1FC;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_link {
        margin-right: 16px;
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        color: #172029;

        &:last-child {
            margin-right: 0px;
        }

        &.active {
            position: relative;
            color: #0073E6;

            &::before {
                content: '';
                border-radius: 2px;
                position: absolute;
                bottom: -17px;
                display: inline-block;
                width: 59px;
                height: 3px;
                background: #0073E6;
            }
        }
    }
}