.buttons {
    border-radius: 12px;
    display: flex;
    width: 100%;

    & button {
        width: 52px;
        height: 52px;
        border: none;

        &:disabled {
            & svg {
                opacity: 30%;
            }
        }

        &:not(:disabled) {
            cursor: pointer;

            &:hover {
                & svg {
                    & path:nth-child(1) {
                        fill: rgba(0, 115, 230, 0.1);
                    }
                }
            }

            &:active {
                & svg {
                    & path:nth-child(1) {
                        fill: rgba(0, 115, 230, 1);
                    }

                    & path:nth-child(2) {
                        fill: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }

    & button:nth-child(1) {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    & span {
        display: inline-block;
        font-size: 16px;
        text-align: center;
        width: 52px;
        height: 52px;
        line-height: 50px;
        font-weight: 700;
        background: rgba(230, 241, 252, 1);
    }

    & button:nth-child(3) {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}